:root {
  --vp-c-brand: #2a9d8f !important;
  --vp-c-brand-light: #2a9d8f !important;
  --vp-c-brand-dark: #2a9d8f !important;

  --vp-button-brand-hover-border: #fff !important;
  --vp-button-brand-active-border: #fff !important;
}
